.rapper{
    margin: 0 auto;
    text-align: center;
}
.choice{
    padding: 2vw;
    background-color: rgba(0, 0, 255, 0.22);
}
#main{
    color: green;
}
#content{
    background-color: rgba(14, 235, 14, 0.685);
    padding: 1vw;
    border-radius: 1vw;
}
.pic{
    max-width: 100%;
}
.subpic{
    max-width: 100%;
    display: inline-block;
}
#special{
    background-color: rgba(0, 0, 0, 0.685);
    color: whitesmoke;
    display: inline-block;
    padding: 1vw;
    border-radius: 1vw;
}
.xp{
    background-color: rgba(0, 0, 0, 0.685);
    color: whitesmoke;
    display: inline-block;
    padding: 1vw;
    border-radius: 1vw;
}