*{
    font-family: 'Spectral', serif;
    cursor: url(../img/note2.png), auto;

}
html, body{
    margin: 0;
    padding: 0;
}
#heading{
    text-align: center;
}
#rapper{
    margin: 0 auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.song{
    max-width: 100%;
    width: 40vw;
}
.option{
    display: inline-block;
    padding: 1vw;
}
#nav{
    background-color: rgba(236, 72, 21, 0.794);
    width: 100%;
}
a{
    text-decoration: none;
    color: black
}
a:hover{
    color: whitesmoke;
}
.current{
    font-weight: bold;
    color: whitesmoke;
}
#nav:hover .current{
    color: black;
}
#nav{
    text-align: center;
}
#vids{
    text-align: center;
}
.vid{
    max-width: 100%;
    width: 600px;
    text-align: center;
}