/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */



html, body{
    height: 100%;
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
*{
    font-family: 'Spectral', serif;
}
.right{
   float: right;
   opacity: .7;
}
#first{
    color: red;
    font-size: xx-large;
}
#goldfirst{
    color: gold;
    font-size: xx-large;
}
#bluefirst{
    color: royalblue;
    font-size: xx-large;
}
.tiny{
    max-width: 200px;
    max-height: 50px;
}
#foot{
    background-color: white;
    padding: 1vw;
}
.special{
    display: inline-block;
}
.texzt{
    background-color: white;
    padding: 1vw;
}
#left{
    /* background-color: purple; */
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
#right{
    color: orange;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
.feature{
    max-width: 100%;
}
#banner{
    background-color: rgba(146, 25, 25, 0.116);
    max-height: 50px;
}
.parallax{
    background-image: url("../img/tyreek.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: gold;
}
a:hover{
    color: black;
}
.parallax2{
    background-image: url("../img/diggs.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    background-image: url("../img/mike.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4{
    background-image: url("../img/dk.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5{
    background-image: url("../img/alvin.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax6{
    background-image: url("../img/aiyuk.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax7{
    background-image: url("../img/lamar.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax8{
    background-image: url("../img/mixon.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax9{
    background-image: url("../img/arob.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax10{
    background-image: url("../img/draft.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.pikachu{
    color: orange;
}
p{
    color: rgba(24, 23, 23, 0.918);
}
.team{
    padding: 1vw;
    color: gold;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
      background-image: url(../img/tyreek.jpg);
    }
    .parallax2 {
        background-attachment: scroll;
        background-image: url(../img/diggs.jpeg);
      }
      .parallax3 {
        background-attachment: scroll;
        background-image: url(../img/mike.jpg);
      }
      .parallax4 {
        background-attachment: scroll;
        background-image: url(../img/dk.jpg);
      }
      .parallax5 {
        background-attachment: scroll;
        background-image: url(../img/alvin.jpg);
      }
      .parallax6 {
        background-attachment: scroll;
        background-image: url(../img/aiyuk.jpg);
      }
      .parallax7 {
        background-attachment: scroll;
        background-image: url(../img/lamar.jpg);
      }
      .parallax8 {
        background-attachment: scroll;
        background-image: url(../img/mixon.jpg);
      }
      .parallax9 {
        background-attachment: scroll;
        background-image: url(../img/alvin.jpg);
      }
      .parallax10 {
        background-attachment: scroll;
        background-image: url(../img/draft.jpg);
      }
  }