*{
    font-family: 'Spectral', serif;
}
html, body{
    margin: 0;
    padding: 0;
}
.vid{
    max-width: 100%;
    width: 600px;
}
.vid2{
    max-width: 100%;
    max-height: 100%;
}
#heading{
    text-align: center;
}
#collage{
    height: auto;
    width: 100%;
}
#reviews h2{
    text-align: center;
}
#rapper{
    margin: 0 auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.option{
    display: inline-block;
    padding: 1vw;
}
#nav{
    background-color: rgba(30, 22, 104, 0.801);
    width: 100%;
    text-align: center;
}
#nav:hover{
    cursor: cell;
}
#nav2{
    background-color: rgb(43, 226, 156, 0.363);
    width: 100%;
    text-align: center;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: cell;
}
.current{
    font-weight: bold;
    color: silver;
}
#poem{
    text-align: center;
}
.pic{
    max-width: 100%;
}
.pic2{
    max-width: 100%;
    max-height: 600px;
}
h1 a{
    color: purple;
}
#reviews a{
    color: purple;
}
#reviews a:hover{
    color: black;
}
