*{
    font-family: 'Spectral', serif;
}
html, body{
    margin: 0;
    padding: 0;
}
#rapper{
    margin: 0 auto;
    background-image: url("/static/img/love.jpg");
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    padding-bottom: 1vw;
}
.transparent{
    opacity: .45;
    max-width: 100%;
    max-height: 400px;

}
.red{
    /* border: 1vw solid red; */
    /* opacity: .65; */
    max-width: 100%;
    max-height: 400px;

}
.spotsubmain{
    display:inline-block;
    /* border: .3vw solid gold; */
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.pic{
    max-width: 100%;
    max-height: 100%;
}
.picmain{
    max-width: 100%;
    max-height: 590px;
}
.spotsubmain2{
    display:block;
    /* border: .3vw solid blue; */
    min-width: 290px;
    min-height: 210px;
    /* min-width: 20vw; */
    /* height: 11vw; */
    max-height: 590px;
}
#main{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main2{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main3{
    /* border: 1vw dotted pink; */
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}